@font-face {
    font-family: "Lato";
    src: url('font  .ttf');
}

body {
    background-color: #b7df89;
    font-family: 'Lato';
    color:  #f17897;
    text-align: center 
}

ul {
    text-align: center;
    margin:0px; 
    padding:0px;
    padding-top: 10px;
    list-style-type: none;
}

.stats {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #e4bf70;
    color:#2e2e2e;
}

#canvas-container {
    text-align:center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-top: 20px;
}

#canvas-parag, h1, #stats {
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
    background-color: #e6f8d6;
}
 
canvas {
    display: inline
}

input {
    width: 50px;
}