#logo {
    text-align: center; 
    line-height: 5%;
    margin-top: 25px;
}  

@font-face {
    font-family: "corazones";
    src: url("./assets/fonts/LOGO-JUEGO-kinkie.regular.ttf");

}
 
#equipo {
    text-align: center; 
    color:#d3337e;
    font-family:fantasy;
}

canvas {
    text-align: center; 
    line-height: 5%;
    margin-left: 15%;
}


  